<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itcast.taliswebmanagement.mapper.StudentMapper">

    <!--分页查询学生信息-->
    <select id="page" resultType="com.itcast.taliswebmanagement.pojo.Student">
        select
            s.*,
            c.name clazz_name
        from student s left join clazz c on s.clazz_id=c.id
        <where>
            <if test="name != null and name != ''">
                s.name like concat('%',#{name},'%')
            </if>
            <if test="degree != null">
                and s.degree = #{degree}
            </if>
            <if test="clazzId != null">
                and s.clazz_id = #{clazzId}
            </if>
        </where>
        order by c.update_time desc
    </select>

    <!--根据主键ID查询学员-->
    <select id="getStudentById" resultType="com.itcast.taliswebmanagement.pojo.Student">
        select
            s.* ,
            c.name clazz_name
        from student s left join clazz c on s.clazz_id=c.id
        where s.id=#{id}
    </select>



    <!--添加学员-->
    <insert id="saveStudent">
        insert into student(name,no,gender,phone,degree,clazz_id,id_card,is_college,address,graduation_date,create_time,update_time)
        values (#{name},#{no},#{gender},#{phone},#{degree},#{clazzId},#{idCard},#{isCollege},#{address},#{graduationDate},#{createTime},#{updateTime})
    </insert>

    <!--修改学员信息-->
    <update id="updateStudent">
        update student
        <set>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="no != null and no != ''">no = #{no},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="idCard != null and idCard !=''">id_card = #{idCard},</if>
            <if test="isCollege != null">is_college = #{isCollege},</if>
            <if test="address != null and address !=''">address = #{address},</if>
            <if test="degree != null and degree !=''">degree = #{degree},</if>
            <if test="graduationDate != null">graduation_date = #{graduationDate},</if>
            <if test="clazzId != null and clazzId !=''">clazz_id = #{clazzId},</if>
            <if test="violationCount != null and violationCount !=''">violation_count = #{violationCount},</if>
            <if test="violationScore != null and violationScore !=''">violation_score = #{violationScore},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </set>
        where id = #{id}
    </update>

    <!--记录学生违纪处理-->
    <update id="setViolation">
        update student
        <set>
            <if test="violationCount != null and violationCount !=''">violation_count = #{violationCount},</if>
            <if test="violationScore != null and violationScore !=''">violation_score = #{violationScore},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </set>
        where id = #{id}
    </update>

    <!--删除学员-->
    <delete id="deleteStudentById">
        delete from student where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <!--学员学历统计-->
    <select id="countStudentDegreeData" resultType="java.util.Map">
        select
            (case degree
                 when 1 then '初中'
                 when 2 then '高中'
                 when 3 then '大专'
                 when 4 then '本科'
                 when 5 then '硕士'
                 when 6 then '博士'
                 else '其他' end)  name,
            count(*) value
        from student group by degree
        order by degree
    </select>
</mapper>
